<div class="container">
  <div class="row justify-content-md-center mt-4">
    <div class="col-10">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with scope: :article, class: "shadow p-3 mb-5 bg-info rounded", url: articles_path, local: true do |f| %>

        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label text-light"  %>
            <div class="col-10">
             <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article"%>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-light"%>
           <div class="col-10">
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded",placeholder: "Description of article"%>
           </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg"%>
        </div>

      <% end %>
    </div>
  </div>
</div>