<div id="page-content">
    <h1 style="color: #B00100" class="text-center mt-4">Listing all Articles</h1>
    <!DOCTYPE html>
    <html lang="hiii">
    <head>
      <title>Listing Articles</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body style="background-color: lightgray">
    <div class="container">
      <% @articles.each do |article| %>
        <div class="row justify-content-md-center">
          <div class="col-8 mt-4">
            <div class="shadow mb-5 bg-white rounded text-center">
              <div class="card-header font-italic">
                by Ranjeet Kumar
              </div>
              <div class="card-body">
                <h5 class="card-title font-weight-light"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
                <p class="card-text"><%= truncate(article.description, length: 100) %></p>
<!--                <a href="#" class="btn btn-outline-success">View</a>-->
                <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
                <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
<!--                <a href="#" class="btn btn-outline-info">Edit</a>-->

                <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger" %>
              </div>
              <div class="card-footer text-muted">
                <small>
                  Created ago,
                  edited ago
                </small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <p style="text-align: center" class="create-article">
      <%= link_to '[Create new Article]', new_article_path, class: "text-primary" %>
    </p>
    </body>
    </html>
</div>
